body {
    margin: 30px;
    padding: 20px;
    background-color: rgb(207, 21, 21);
    font-family: monaco, Consolas, "Lucida Console", monospace;
}

a {
    text-decoration: none;
    display: inline-block;
    position: bottom;
    padding: 8px 16px;
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.class-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-direction: row; 
    flex-wrap: nowrap;

}
a:hover {
    background-color: #ddd;
    color: black;
}
  
.previous {
    background-color: #f1f1f1;
    color: black;
    border-radius: 20px;
    
}
  
.next {
    background-color:aliceblue;
    color:black;
    border-radius: 20px;
    
}
  
.round {
    border-radius: 50%;
}

#pokemon-logo {
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#blac{
    margin:0%;
    padding:0;
}


#search-bar {
    height: 34px;
    font-size: 17px;
    border-radius: 17px;

    border: 1px solid #C2C2C2;
    width: 90%;
    max-width:400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:30px;
}
#search-bar:hover,
#search-bar:focus{
    box-shadow: 0px 0px 5px #C2C2C2;
}



#search_image {
    display: block;
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    overflow: auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 20px;
    column-gap: 5px;
    align-items: flex-end;
    justify-content: end;
}

button {
    padding:16px;
    border-radius: 20px;
    width: 100px;
    font-family: monaco, Consolas, "Lucida Console", monospace;
}

#type-text {
    display: block;
    background-color: lightyellow;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    overflow: auto;

}

#pokeText {
    display: block;
    background-color: lightyellow;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    overflow: auto;

}