body{
    margin: 30px;
    padding: 20px;
    background-color: rgb(207, 21, 21);
}
#search-bar {
    height: 34px;
    font-size: 17px;
    border-radius: 17px;

    border: 1px solid #C2C2C2;
    width: 90%;
    max-width:400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:30px;
}
#search-bar:hover,
#search-bar:focus{
    box-shadow: 0px 0px 5px #C2C2C2;
}