body {
    margin: 30px;
    padding: 20px;
    background-color: rgb(207, 21, 21);
}

a {
    text-decoration: none;
    display: inline-block;
    position: bottom;
    padding: 8px 16px;
}

.left-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
  
a:hover {
    background-color: #ddd;
    color: black;
}
  
.previous {
    background-color: #f1f1f1;
    color: black;
}
  
.next {
    background-color: #04AA6D;
    color: white;
}
  
.round {
    border-radius: 50%;
}

#pokemon-logo {
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#search-bar {
    height: 34px;
    font-size: 17px;
    border-radius: 17px;

    border: 1px solid #C2C2C2;
    width: 90%;
    max-width:400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:30px;
}
#search-bar:hover,
#search-bar:focus{
    box-shadow: 0px 0px 5px #C2C2C2;
}

.class-wrapper {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 20px;
    column-gap: 5px;
    align-items: flex-end;
    justify-content: end;
}

button {
    padding:16px;
    border-radius: 12px;
    width: 100px;
    
}