body {
    margin: 30px;
    padding: 20px;
    background-color: rgb(207, 21, 21);
}

#pokemon-logo {
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr.solid {
    border: 2px solid black;
  }

#search-bar {
    height: 34px;
    font-size: 17px;
    border-radius: 17px;

    border: 1px solid #C2C2C2;
    width: 90%;
    max-width:400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:30px;
}
#search-bar:hover,
#search-bar:focus{
    box-shadow: 0px 0px 5px #C2C2C2;
}

.class-wrapper {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 20px;
    column-gap: 5px;
    align-items: flex-end;
    justify-content: end;
}

button {
    padding:16px;
    border-radius: 12px;
    width: 100px;
    
}